<!-- Footers 3 -->
<footer class="fdb-block footer-small">
  <div class="container">
    <div class="row text-center align-items-center">
      <div class="col-12 col-md-8">
        <ul class="nav justify-content-center justify-content-md-start align-items-center">
          <li class="nav-item">
            <a class="nav-link active" href="https://www.awe.fr/">
                <img alt="image" src="http://dev.sulivannguyen.fr/lp-factory/assets/logo-black.png" height="40">
              </a>
          </li>
          <li class="w-100 d-block d-sm-none"></li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.awe.fr/">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.awe.fr/">Terms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.awe.fr/">About</a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-4 mt-4 mt-md-0 text-md-right">
        © 2013-2018 AWE
      </div>
    </div>
  </div>
</footer>